/* Pagination.module.css */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;


  
  /* Закрепляем пагинацию внизу страницы */
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: var(--secondary-color); /* или другой цвет для фона, чтобы отделить от контента */
  padding: 10px 0; /* Добавляем отступы */
  z-index: 1000; /* Чтобы он был поверх других элементов */
}

.pageButton {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.pageButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pageInfo {
  font-size: 16px;
  margin: 0 10px;
}
