/* Pagination.module.css */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}

.pageButton {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.pageButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}



.pageInfo {
  font-size: 16px;
  margin: 0 10px;
}
