.module {
  max-height: 630px; /* Ограничение высоты */
  overflow: hidden; /* Обрезка контента, если он выходит за пределы */
}

.carInfo {
  position: relative;
  background-color: #1a1a1a;
  
}

.downloadButtonWrapper {
  position: absolute;
  top: 16px;
  right: 16px;
 
}

.carInfoTitle{
  font-size: 0.9rem;
}

.arrowButton {
  background: #222;
  border: none;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;

  &:hover {
    background: #e0e0e0;
    color: #151515;
  }
}

.module {
  background-color: var(--background-color);
  transition: 0.3s;
  width: 100%; /* Растягивание внутри grid */
}

.downloadButton{
  border: none;
  width: 20px;
  height: 20px;
}

.divider {
  border-color: #adada5;
}


  


.carImage {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.carInfo{
  padding: 20px;
  margin: auto;
  height: 100%;
}

.carInfoList {

 
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  padding: 0;
  list-style: none;
  counter-reset: list-counter;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 220px !important;
  
}

.carListIteme{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  padding: 0;
  list-style: none;
  counter-reset: list-counter;
}



.carListItem {
  padding: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
  counter-increment: list-counter;
  font-size: 14px;
  break-inside: avoid;
}

.carListItem span {

}



.medium {
  max-height: 310px !important;
  grid-column: span 2; /* Большой блок занимает две колонки */
}


.carListItem::before {
  content: counter(list-counter);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  aspect-ratio: 1;
  background-color: white;
  color: #282c34;
  font-weight: bold;
  padding: 3px;
}

.document{
  max-width: 20px;
 
}



@media screen and (max-width: 2600px) {
  .carImage {
    height: 200px;
  }

}

@media screen and (max-width: 1900px) {
  .carImage {
    height: 170px;
  }

}




@media screen and (max-width: 768px) {
  .carImage {
    height: 200px;
  }
  .medium {
    grid-column: 1;
  }


  .carInfoList {
    grid-template-columns: repeat(1, 1fr);
  }


  .carInfoList {

  
    max-height: 300px;
    
  }
}


@media screen and (max-width: 400px) {

  .carInfoList {

  
    max-height: 260px;
    
  }
}











