/* Основные стили таблицы */
.tableWrapper {

  flex-grow: 1;
  background-color: #1f2936;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  /* padding: 0 !important; */
  min-height: 100vh;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  z-index: 100;
}

.tableContainer {
  flex-grow: 1; /* Это позволит контейнеру расти, но не превышать доступную высоту */
  max-height: 100vh;
  overflow: auto;
  
}


.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto; /* Устанавливаем автоматическое растяжение */
}

/* Стили для ячеек */
th, td {
  padding: 10px;
  text-align: left; /* Изменено на left */
  border-bottom: 1px solid #000000;
  position: relative;
}


/* Заголовок таблицы */
th {
  background-color: #28313e;
  height: 40px;
  padding: 5px 10px;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* Разделители между столбцами */
th::after {
  content: '|';
  position: absolute;
  top: 10;
  left: 100%;
  transform: translateX(-50%);
  height: 80%;
  color: var(--primary-colors);
  font-size: 20px;
  line-height: 1;
}

/* Убираем последнюю палочку в строках */
th:last-child::after,
td:last-child::after {
  content: '';
}




@media (max-width: 768px) {
.tableContainer {

  padding-bottom: 80px ;
  
}
}

@media (max-width: 400px) {
  .tableContainer {
  
    padding-bottom: 120px ;
    
  }
  }

/* 
@media (max-width: 768px) {
  .tableWrapper {
    padding: 10px;
  }

  .closeButton {
    font-size: 14px;
    padding: 8px;
  }

  .tableContainer {
    padding: 5px;
  }

 
  .table {
    display: block;
    width: max-content; 
    overflow-x: auto; 
  }
} */

