.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-size: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  
}

.left, .center, .right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.left{
  width: 84px;
}

.menuIcon {
  width: 50px;
  cursor: pointer;
 
}

.tickerse {
  display: flex;
  gap: 30px;
  flex: 1; /* Позволяет занять всю доступную ширину */
  justify-content: flex-start; /* Прижимаем к левому краю */
}

.searchContainer {
  display: flex;
  justify-content: flex-end; /* Прижимаем к правому краю */
  flex: 1;
  
}


.ticker {
 
  align-items: center;
}

.ticker span {
  opacity: 0.7;
  display: block;
  color: var(--text-color)
}

.ticker strong {
  font-weight: 600;
}

.right {
  display: flex;
  margin-left: 50px;
  align-items: center;
  gap: 10px;
}

.rightInfo{
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: 600;
}

.time {
  opacity: 0.7;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ccc;
}

.dotsNineIcon{
  width: 100px; 
  height: 100px;
}

.center.hidden,
.right.hidden,
.tickerse.hidden,
.avatar.hidden,
.username.hidden,
.time.hidden {
  display: none;
}

@media (max-width: 1000px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    gap: 20px;
  }

  .menuIcon {
    order: 0;
    margin: 0;
  }

  

  .searchContainer {
    order: 1;
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .right {
    order: 2;
    margin: 0;
  }

  .tickerse {
    order: 3;
    width: 100% !important;
    display: flex; 
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
  }

  

}

