.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-size: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.left, .center, .right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menuIcon {
  width: 50px;
  cursor: pointer;
  margin-right: 50px;
}

.tickerse{
  display: flex;
  gap: 30px;
}

.ticker {
 
  align-items: center;
}

.ticker span {
  opacity: 0.7;
  display: block;
  color: var(--text-color)
}

.ticker strong {
  font-weight: 600;
}

.right {
  display: flex;
  
  align-items: center;
  gap: 10px;
}

.rightInfo{
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: 600;
}

.time {
  opacity: 0.7;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ccc;
}

.dotsNineIcon{
  width: 100px; 
  height: 100px;
}

/* Адаптивность */
@media (max-width: 1200px) {
  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  
  }
  
  .menuIcon {
    margin: 0px;
  }
  
  .left, .center, .right {
    flex-wrap: wrap;
    justify-content: center;
  }

  .menuIcon {
    order: -1;
  }
}