  /* Кастомный скроллбар для WebKit-браузеров (Chrome, Safari) */
  .gallery::-webkit-scrollbar {
      width: 12px;
      border-radius: 10px;
  }

  .gallery::-webkit-scrollbar-track {
      background: #506486;
      border-radius: 10px;
  }

  .galleryt::-webkit-scrollbar-thumb {
      background: #506486;
      border-radius: 10px;
  }

  .gallery::-webkit-scrollbar-thumb:hover {
      background: #506486;
  }

  /* Кастомный скроллбар для Firefox */
  .gallery {
      scrollbar-width: thin;
      scrollbar-color: #506486 #f1f1f100;
      border-radius: 10px;
  }