.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  max-width: 90%;
  max-height: 90%;

  img {
    width: 100%;
    height: 60vh;
    border-radius: 10px;
  }
}

.closeButton {
  position: absolute;
  top: -30px;
  right: -30px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;

  &:hover {
    color: #ccc;
  }
}