.carInfo {
  position: relative;
}

.downloadButtonWrapper {
  position: absolute;
  top: 5px;
  right: 5px;
 
}

.module {
  background-color: var(--background-color);
  transition: 0.3s;
  width: 100%; /* Растягивание внутри grid */
}

.downloadButton{
  border: none;
}

.divider {
  border-color: #adada5;
}

.long {
  height: 630px;
  grid-row: 2 / 4;
}
  


.carImage {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.carInfo{
  padding: 20px;
  margin: auto;
  height: 100%;
}

.carInfoList {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  padding: 0;
  list-style: none;
  counter-reset: list-counter;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 260px;
  
}

.carListItem {
  padding: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
  counter-increment: list-counter;
  font-size: 14px;
  break-inside: avoid;
}

.carListItem span {

}

.carListItem::before {
  content: counter(list-counter);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  aspect-ratio: 1;
  background-color: white;
  color: #282c34;
  font-weight: bold;
  padding: 3px;
}

.document{
  max-width: 30px;
 
}



@media screen and (max-width: 2600px) {
  .carImage {
    height: 200px;
  }

}

@media screen and (max-width: 1900px) {
  .carImage {
    height: 170px;
  }

}

@media screen and (max-width: 768px) {
  .carImage {
    height: 200px;
  }

  .carInfoList {
    grid-template-columns: repeat(1, 1fr);
  }

  .long {
    
    grid-column: 1;
    grid-row: 5;
  
  }

  .carInfoList {

  
    max-height: 300px;
    
  }
}

