.module {
  height: 630px !important;
  overflow: hidden; /* Обрезка контента, если он выходит за пределы */
}

.carInfo {
  position: relative;
  background-color: #1a1a1a;
  height: 630px !important;
}

.downloadButtonWrapper {
  position: absolute;
  top: 16px;
  right: 16px;
 
}

.carInfoTitle{
  font-size: 0.9rem;
}

.arrowButton {
  background: #222;
  border: none;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;

  &:hover {
    background: #e0e0e0;
    color: #151515;
  }
}

.module {
  background-color: var(--background-color);
  transition: 0.3s;
  width: 100%; /* Растягивание внутри grid */
}

.downloadButton{
  border: none;
  width: 20px;
  height: 20px;
  display: flex
;
    justify-content: center;
    align-items: center;
}

.divider {
  border-color: #adada5;
}

.long {
  height: 630px;
  grid-row: 2 / 3;
}
  


.carImage {
  width: 100%;
  height: 250px !important;
  object-fit: cover;
}

.carInfo{
  padding: 20px;
  margin: auto;
  height: 100%;
}

.carInfoList {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  padding: 0;
  list-style: none;
  counter-reset: list-counter;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 280px;
  
}



.carListItem {
  padding: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
  counter-increment: list-counter;
  font-size: 14px;
  break-inside: avoid;
}


.divider {
  display: flex;
  width: 100%;
  height: 2px;
  background:  #ffffff33;
}

.carListItem span {

}

.carListItem::before {
  content: counter(list-counter);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  aspect-ratio: 1;
  background-color: white;
  color: #282c34;
  font-weight: bold;
  padding: 3px;
}

.document{
  max-width: 20px;
 
}






@media screen and (max-width: 768px) {


  .carInfoList {
    grid-template-columns: repeat(1, 1fr);
  }

  .long {
    
    grid-column: 1;
    grid-row: 5;
  
  }

  
}


/* @media screen and (max-width: 400px) {

  .carInfoList {

  
    max-height: 260px;
    
  }
} */
